@import './variables.scss';

:root {
	--medium-font-size : 16px;
}

.thin {
	font-weight: 100;
}

.light {
	font-weight: 200;
}

.normal, .regular {
	font-weight: normal;
}

.medium {
	font-weight: 500;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

@media #{$small-screen} {	
	.mob__thin {
		font-weight: 100;
	}
	.mob__light {
		font-weight: 200;
	}
	.mob__normal, .mob__regular {
		font-weight: normal;
	}
	.mob__medium {
		font-weight: 500;
	}
	.mob__bold {
		font-weight: bold;
	}
	.mob__italic {
		font-style: italic;
	}
}

@for $i from 1 through 70 {
	.fs#{$i} {
		font-size : #{$i}px;
	}
	.lh#{$i} {
		line-height: #{$i}px;
	}
	@media #{$small-screen} {	
		.mob__fs#{$i} {
			font-size: #{$i}px !important;
		}
		.mob__lh#{$i} {
			line-height: #{$i}px !important;
		}
	}
}